<div class="window">
	<div class="window__toolbar-title-block-container">
		<div class="window__toolbar-title-block">
			<div>Kernia On-Line</div>
			<button class="window__small-button" (click)="closeBrowserWindow()">X</button>
		</div>
	</div>
	<div class="window__content-container">
		<div class="window__breaking-news-ticker">
			<div class="window__breaking-news-ticker__text">
				<span>{{ breakingNewsText }}</span>
			</div>
		</div>
		aaaaaaaaaaaaaaaaaaaaaa SOME WEB CONTENT HELLOOO
	</div>
</div>
