<div class="window">
	<div class="window__toolbar-title-block-container">
		<div class="window__toolbar-title-block">
			<div>Kernia On-Line</div>
			<button class="window__small-button" (click)="closeBrowserWindow()">X</button>
		</div>
	</div>
	<div class="window__content-container">
		<div class="window__breaking-news-ticker">
			<div>yo this is a game! crazy, i know</div>
			{{ "    " }}
			<div>yo this is a game! crazy, i know</div>
		</div>

		<strong>Feed</strong>
		<post-feed class="window__post-feed-container"></post-feed>
	</div>
</div>
