
.desktop {
    background-color: var(--desktopBackground);
    height: 768px;
    position: relative;
    width: 1024px;
    overflow: hidden;

  &__bottom-bar {
        background-color: var(--windowBackground);
        border: 1px solid var(--windowBorderHighlight);
        border-bottom: 1px solid var(--windowBorderShadow);
        border-radius: 3px 3px 0 0;
        bottom: 0;
        display: flex;
        height: 30px;
        padding: 0;
        position: absolute;
        width: 100%;
        box-shadow: 0 0 0 1px var(--windowBorderHighlightShadow);
        z-index: 2;
    }

  &__shortcuts-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px;      
    position: absolute;
    top: 28px;
    left: 20px;
    width: 80px;
  }

  &__shortcut {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    & img {
      width: 44px;
    }
  }
}