@use './styles/colors.scss';

@font-face {
    font-family: 'SH Pinscher';
    src: url('./styles/SHPinscher-Regular.otf') format('opentype');
}

html {
    font-family: 'SH Pinscher';
    font-size: 18pt;
    background-color: black;
}

body {
    margin: 0;
}