@use './styles/colors.scss';

@font-face {
    font-family: 'Open Sans Regular';
    src: url('./styles/OpenSans-regular.ttf') format('truetype');
}

html {
    font-family: 'Open Sans Regular';
    font-size: 14px;
    background-color: black;
}

body {
    margin: 0;
}