@use './styles/colors.scss';

@font-face {
    font-family: 'MS Sans Serif';
    src: url('./styles/ms-sans-serif-1.ttf') format('opentype');
}

html {
    font-family: 'MS Sans Serif';
    font-size: 16pt;
    background-color: black;
}

body {
    margin: 0;
}