<div class="post-feed">
	<li class="post-feed__feed" *ngFor="let post of availablePosts; index as i">
		<div class="post-feed__post">
			<div class="post-feed__post-content">
				<div class="post-feed__post-metadata">
					<div>{{ post.username }}</div>
					<div>{{ post.date }}</div>
				</div>
				<div class="post-feed__post-text">{{ post.text }}</div>
				<div class="post-feed__buttons-container">
					<button
						class="post-feed__button post-feed__propagate"
						type="button"
						(click)="propagatePost(i)"
					>
						Propagate
					</button>
					<button
						class="post-feed__button post-feed__ignore"
						type="button"
						(click)="ignorePost(i)"
					>
						Ignore
					</button>
					<button
						class="post-feed__button post-feed__censor"
						type="button"
						(click)="censorPost(i)"
					>
						Censor
					</button>
				</div>
			</div>
		</div>
	</li>
	<div *ngIf="availablePosts.length === 0" class="post-feed__results">
		State: {{ this.alignmentTotals.state }} Liberation:
		{{ this.alignmentTotals.liberation }} Passive: {{ this.alignmentTotals.passive }}
	</div>
</div>
