.post-feed {
    margin: 20px 10px;
    overflow-y: scroll;
    max-height: 100%;
    padding-right: 6px;

    &__feed {
        list-style: none;
    }

    &__post {
        border: 1px solid black;
        margin: 8px 2px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    }

    &__post-metadata {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding: 2px 4px;
    }

    &__post-text {
        padding: 2px 4px;
    }

    &__buttons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__button {
        margin: 4px;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 5px 0 5px 0;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    }
}